{% extends 'base.html' %}
{% load static %}

{% block content %}
			<div class="content">

				<section class="studio">
					<div class="container">	
						<div class="studio__row">
							<div class="studio__column studio__column_b">
								<div class="studio__item item">
									<span class="item__image ibg">
										<video width="100%" height="auto" controls poster="{% static 'images/byl_logo.jpg' %}">
											<source src="videos/Intro.mp4" type="video/mp4">
											Ваш браузер не поддерживает тег video.
										</video>
									</span>
								</div>
							</div>
							<div class="studio__column">	
								<div class="studio__block block">
									<div class="block__icon"><img src="img/FOTOS/ico2.png" alt=""></div>
									<h1 class="block__title">BEFORE YOU LOOK</h1>
									<div class="block__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
									<div class="buttoncase text-center">
							<a href="#" class="button">LINKS HERE</a>
						</div>
								</div>								
							</div>
						</div>						
					</div>					
				</section> 
				<section class="studio studio_1">
					<div class="container">	
						<div class="studio__row">							
							<div class="studio__column">	
								<div class="studio__block block">
									<div class="block__icon"><img src="img/FOTOS/ico2.png" alt=""></div>
									<h1 class="block__title">CELL</h1>
									<div class="block__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
									<div class="buttoncase text-center">
										<a href="#" class="button">Watch on YOUTUBE, bitch</a>
									</div>
								</div>								
							</div>
							<div class="studio__column studio__column_b">
								<div class="studio__item item">
									<span class="item__image ibg">
										<video width="100%" height="auto" controls poster="{% static 'images/cell.jpg' %}">
											<source src="videos/cell.mp4" type="video/mp4">
											Ваш браузер не поддерживает тег video.
										</video>
									</span>
								</div>
							</div>
						</div>						
					</div>					
				</section>
				<!-- <section class="studio">
					<div class="container">	
						<div class="studio__row">
							<div class="studio__column studio__column_b">
								<div class="studio__item item">
									<span class="item__image ibg">
										<video width="100%" height="auto" controls poster="images/bloodyeden.jpg">
											<source src="videos/Мое видео.mp4" type="video/mp4">
											Ваш браузер не поддерживает тег video.
										</video>
									</span>
								</div>
							</div>
							<div class="studio__column">	
								<div class="studio__block block">
									<div class="block__icon"><img src="img/FOTOS/ico2.png" alt=""></div>
									<h1 class="block__title">BLOODY EDEN</h1>
									<div class="block__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </div>
									<div class="buttoncase text-center">
							<a href="#" class="button">Watch on YOUTUBE, bitch</a>
						</div>
								</div>								
							</div>
						</div>						
					</div>					
				</section>  -->


				<section class="portfolio">
					<div class="container">
						<div class="portfolio__content grid">
							<div class="portfolio__item grid ibg">							
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/Akt.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/6.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/3.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/4.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>	
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/1.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>	
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/2.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/5.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/3.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="portfolio__item grid ibg">
								<a class="gallery__fancy" data-fancybox="image" href="img/FOTOS/5.jpg">
									<img src="{% static 'images/SX-final-40.JPG' %}" alt="">
								</a>
								<span class="portfolio__title"></span>
							</div>
							<div class="buttoncase text-center">
								<a href="#" class="button">Zobacz Portfolio</a>
							</div>
						</div>
					</div> 
				</section> 

				
				<section class="slider1">
					<div class="container">
						<div class="slider1__body">
							<div class="slider1__item">
								<div class="slider1__icon"><img src="img/insta.png" alt=""></div>
								<h3 class="slider1__title">klub Alive, Kolejowa 12, Wrocław, 53-508, 28.03.2025</h3>
								<div class="slider1__text">CIROGRAPH, LAMYA, SUBCORTEX</div>
							</div>
							<div class="slider1__item">
								<div class="slider1__icon"><img src="img/insta.png" alt=""></div>
								<h3 class="slider1__title">klub Alive, Kolejowa 12, Wrocław, 53-508, 16.02.2025</h3>
								<div class="slider1__text">LAMYA, KEEP THE DISTANCE, SUBCORTEX</div>
							</div>
							<div class="slider1__item">
								<div class="slider1__icon"><img src="img/insta.png" alt=""></div>
								<h3 class="slider1__title">Gokis Kąty Wrocławskie Gokis, Kąty Wrocławskie</h3>
								<div class="slider1__text">Koncert Pamięci Łukasza Boratyna. FAKHIR, SUBCORTEX.</div>
							</div>
						</div>
					</div>	
				</section>

				<!-- <section class="contact" id="contact">					
					<div class="container">

						<div class="contact__row">
							<div class="contact__item">
								<div class="block__icon">
									<img src="img/phone.png" alt="">
								</div>
								<div class="contact__text">
									<ul class="contact__list">
										<li><a href="tel:#">+48 531 531 531</a></li>
										<li><a href="tel:#">+48 531 531 531</a></li>
									</ul>
								</div>
							</div>

							<div class="contact__item">
								<div class="block__icon">
									<img src="img/letter.png" alt="">
								</div>
								<div class="contact__text">
									<ul class="contact__list">
										<li><a href="mailto:#">testmail@mail.com</a></li>
									</ul>
								</div>
							</div>

							<div class="contact__item">
								<div class="block__icon">
									<img src="img/pointer.png" alt="">
								</div>
								<div class="contact__text">
									<ul class="contact__list">
										<li>Wrocław 50-074</li>
										<li>Kazimierza Wielkiego 25/2</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>

					<div class="contact__column contact__subscribe">
						<div class="contact__map">
						 	<iframe class="contact__map_image"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10018.141003595038!2d17.020004390575473!3d51.11703439125398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc274b7b53101%3A0xc09aedb308387908!2sKazimierza%20Wielkiego%2025%2C%2050-074%20Wroc%C5%82aw!5e0!3m2!1sru!2spl!4v1594192783537!5m2!1sru!2spl"></iframe>
						</div>
					</div>					
					
					<div class="container">
						<span class="container__border"></span>
					</div>

					<div class="contact__text">
						<p>napisz do nas, odzwonimy w ciągu 30 minut</p>
					</div>
					<div class="form">
						<div class="container">
							<form class="form__content" action="formdata.php" method="GET" name="contactform" id="form">
								<input type="text" placeholder="Imię: " class="button form__input">
								<input type="text" placeholder="Telefon: " class="button form__input">
								<button type="submit"class="button form__submit">Wyślij</button>
							</form>
						</div>
					</div>
					<div class="contact__text">
						<p>Nie przyjmujemy bez rezerwacji tralala</p>
					</div>
				</section>  -->


			</div> 
{% endblock %}